.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }
  
  .cartItem {
    width: 800px;
    height: 250px;
    display: flex;
  
    align-items: center;
    box-shadow: 0px 3px 15px rgba(254, 26, 26, 0.2);
    border-radius: 25px;
    margin: 30px;
  }
  
  .cartItem img {
    width: 200px;
    padding-left: 60px;
    padding-right: 30px;
  }
  
  .cartItem .description {
    width: 100%;
    font-size: 30px;
  }
  
  .countHandler input {
    width: 50px;
    text-align: center;
    font-weight: bolder;
  }
  
  .checkout button {
    width: 150px;
    height: 50px;
    background-color: rgb(0, 17, 255);
    color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    border-radius: 8px;
    margin: 50px;
    cursor: pointer;
  }
  