.list {
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
}

.slink {
  background-color: white; /* Green */
  border: 2px solid; /* Default border color */
  color: #662eed;
  padding: 30px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 10rem;

  svg {
    color: #662eed;
    font-size: 1.5rem;
  }
  &.active {
    background: linear-graident(to right, #f27121, #e94057);
    svg {
      color: #662eed;
    }
    h4 {
      color: #662eed;
    }
  }
}