.currentDateTime{  
  position: absolute;
  top: 75px; /* Adjust as needed to position it vertically */
  right: 10px; /* Adjust as needed to position it horizontally */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}